* {
    font-family: 'Plus Jakarta Sans', Helvetica;
}

.user_tyoe {
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #8d9091;
}

.user_tyoe.active {
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.user_list {
    border-bottom: 1px solid #efefef;
}

.search-field {
    width: 50%;
    background: #fbfbfb;
    border-radius: 30px;
    border: 1px solid #efefef;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.inner-field {
    background: transparent;
    width: 80%;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 13px;
}

input[type='text']:focus {
    border: none !important;
    outline: none !important;
    outline-style: none !important;
    -webkit-appearance: none;
    box-shadow: none;
    appearance: none;
}

.footer-text {
    font-size: 13px;
    color: #8d9091;
    font-weight: 500;
}
