.dashboard {
    background-color: #f3f3f3;
    background-color: #f3f3f3;
    height: 100% !important;
    min-height: 100vh !important;
    width: 100vw;
    padding: 20px 0;
}

h3,
h4,
h5,
h6,
td,
th,
p,
.heading {
    font-family: 'Plus Jakarta Sans', Helvetica;
}

p,
h4 {
    font-weight: bold;
}

.subtext {
    color: #525252;
    font-size: 13px;
    margin-left: 6px;
    font-weight: 500;
}

.user_tyoe {
    margin-right: 20px;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', Helvetica;
}

.user_list {
    border-bottom: 1px solid #efefef;
}

.search-field {
    width: 50%;
    background: #fbfbfb;
    border-radius: 30px;
    border: 1px solid #efefef;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.inner-field {
    background: transparent;
    width: 80%;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', Helvetica;
}

input[type='text']:focus {
    border: none !important;
    outline: none !important;
    outline-style: none !important;
    -webkit-appearance: none;
    box-shadow: none;
    appearance: none;
}

.table_field {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
}

ul li:hover {
    padding-left: 5px;
}
